.category {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    text-transform: uppercase;
    font-weight: 300;
    color: #bbb;
    margin: 15px 0;
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
}