.category {
    opacity: 0;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    text-transform: uppercase;
    font-weight: 300;
    color: #bbb;
    margin: 15px 0;
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
}