.feedback {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 20px;
    border: var(--border);
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.feedback > p { font-style: italic; }

.feedback > div:first-child {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.feedback > div:first-child > img {
    width: 60px;
    border-radius: 50%;
}

.feedback > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px dashed #ccc;
}

.feedback > div:last-child > i { color: orange; }