.footer { margin: 30px auto; }

.footer div:first-child {
    display: flex;
    flex-direction: row;
    gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.footer div:last-child {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    text-align: right;
    padding-left: 30px;
}

.footer div a,
.footer div a:visited {
    color: #000;
}

.footer div a:hover,
.footer div a:active {
    color: #0a66c2;
    text-decoration: underline;
}

.footer div small {
    color: #999;
}

@media all and (max-width: 600px) {
    .footer { 
        margin: 30px auto; 
        padding: 0 15px; 
    }
    .footer div:first-child { justify-content: center; }
    .footer div:last-child {
        justify-content: center;
        text-align: center;
        padding-left: inherit;
    }
}