.gallery {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: var(--border);
    background-color: #fff;
    box-shadow: var(--shadow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}