@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
    text-rendering: optimizeLegibility;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body { overflow-x: hidden; }

html { scroll-behavior: smooth; }

body { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f5f5f5; 
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb { border-radius: 5px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #333; }
::-webkit-scrollbar-thumb:hover {  background: #fff; }

@media all and (max-width: 1200px) {
    body { padding-inline: 20px; }
}