.social {
    opacity: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    border: var(--border);
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.social > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social > div > a,
.social > div > a:visited {
    color: #0a66c2;
}

.social > div > a:hover { text-decoration: underline; }

.social > i { 
    height: 100%;
    font-size: 1.5rem;
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-right: 1px dashed #ccc;
}

.social i.bi-youtube { color: #ff0000; }
.social i.bi-facebook { color: #4267b2; }
.social i.bi-linkedin { color: #0a66c2; }
.social i.bi-instagram { color: #c13584; }
.social i.bi-twitter-x { color: #000000; }
.social i.bi-pinterest { color: #e60023; }
.social i.bi-tiktok { color: #000000; }