h1, h2, h3 { 
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 800;
}

h1 { font-size: clamp(1.4rem, 4vw, 1.6rem); }
h2 { font-size: clamp(1.2rem, 3.5vw, 1.4rem); }
h3 { font-size: clamp(1rem, 3vw, 1.2rem); }

p,
button, 
a,
ul li { 
    width: fit-content;
    font-size: clamp(12px, 2vw, 14px);
    line-height: 20px;
}

i {
    vertical-align: middle;
    font-size: clamp(18px, 2.5vw, 18px);
}

small { font-size: clamp(12px, 2vw, 12px); }